<!DOCTYPE html>
<html lang="en">v
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _1640WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_1640WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://kit.fontawesome.com/b43c192976.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Footer.css" />
    
    <style>     
        header{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;        
            font-weight:300;
        }

        .oke {
            text-decoration: underline;
            color: black;
            transition: 0.5s;
            font-weight: bold;
            padding: 7px;
            text-align: center;
            border: none;
            background-color: white;
        }
        .oke:hover {
                color: #16c8e3 !important;
        }
    </style>
</head>
<body class="body">
    <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="Home" asp-action="MainHome">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="Submission" asp-action="Index">StaffSubmission</a>
                        </li>

                       
                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="Idea" asp-action="Index">Idea</a>
                        </li>

                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="SuperUser" asp-action="Index">Roles</a>
                        </li>

                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                        </li>

                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                        </li>

                        <li class="nav-item">
                            <a class="oke" asp-area="" asp-controller="Catogory" asp-action="Index">Categorys</a>
                        </li>
                       

                        @*@if(Model != null && Model.Username.Contains("@manager")){
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SuperUser" asp-action="Create">Roles</a>
                            </li>
                            
                        }

                        @if (Model != null && Model.Username.Contains("@admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="SuperUser" asp-action="Create">Roles</a>
                            </li>
                        }*@

                        

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <div style="height:70px;"></div>
        <main style="min-height:650px;" role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer style="text-align:left;" class="footer">
            <div style="background:#24262b;display:block;" class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">shipping</a></li>
                            <li><a href="#">returns</a></li>
                            <li><a href="#">order status</a></li>
                            <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>online shop</h4>
                        <ul>
                            <li><a href="#">watch</a></li>
                            <li><a href="#">bag</a></li>
                            <li><a href="#">shoes</a></li>
                            <li><a href="#">dress</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
