@using Microsoft.AspNetCore.Identity
@using _1640WebApp.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>
    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        font-weight: 300;
    }

    .oke {
        text-decoration: underline;
        color: black;
        transition: 0.5s;
        font-weight: bold;
        padding: 7px;
        text-align:center;
        border:none;
        background-color:white;
    }

        .oke :hover {
            color: #16c8e3;
        }
</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a style="display: block;width: 100%;height: 100%;" class="oke" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name?.Split('@')[0] </a>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="oke">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="oke" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="oke" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
