@model _1640WebApp.Data.ApplicationUser
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .contain-create {
        background-image: url("/images/greenwich1.jfif");
        object-fit: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        position: fixed;
        top: 57px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll !important;
    }

    .overlay {
        position: fixed;
        top: 57px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        opacity: 0.7;
    }

    .form-control {
        background-color: unset !important;
    }
    .contain-create{
        font-family: 'Arsenal', sans-serif;
    }

</style>

<div class="contain-create ">
    <div class="overlay"></div>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6" style="position: absolute;top:55px; color: white;">
                    <div class="card" style="border-radius: 15px; background-color:unset; border: 0;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5" style="font-weight: 600;">Edit User</h2>

                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-outline mb-4">
                                    <label asp-for="StaffNumber"></label>
                                    <input asp-for="StaffNumber" class="form-control text-white" aria-required="true" />
                                    <span asp-validation-for="StaffNumber" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Fullname_"></label>
                                    <input asp-for="Fullname_" class="form-control text-white" aria-required="true" />
                                    <span asp-validation-for="Fullname_" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control text-white" aria-required="true" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" class="form-control text-white" aria-required="true" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <table class="table table-borderless text-white mb-0" style="text-align: center">


                                        <thead>
                                            <tr style="border-bottom-width: 1px;">
                                                <th scope="col">Department's ID</th>
                                                <th scope="col">Department's Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var department in Model.Departments)
                                            {
                                                <tr>
                                                    <td>@department.Id</td>
                                                    <td>@department.Name</td>
                                                </tr>
                                            }


                                        </tbody>

                                    </table>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="DepartmentId"></label>
                                    <input asp-for="DepartmentId" class="form-control text-white" aria-required="true" />
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center mb-5 mt-5">

                                    <button type="submit" class="btn-lg btn-block text-white btn" style="background-color: #9a9fa3;">Save</button>
                                </div>

                                <p style="text-align: center;">View List of Role? <a asp-action="Index" class="link-info">Back to List</a></p>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


